:root {
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 4rem;
}

.top_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left_section .heading {
  width: 80%;
  font-size: 3.5rem;
  line-height: 1;
  color: var(--VeryDarkMagenta);
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.left_section .desc {
  width: 80%;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--DarkGrayishMagenta);
  font-weight: 400;
}
.left_section {
  width: 40%;
}
.right_section {
  width: 60%;
}
.rated {
  background: var(--LightGrayishMagenta);
  padding: 1rem 1rem;
  padding-top: 1.2rem;
  width: 80%;
  max-width: 440px;
  margin: 16px;
  border-radius: 6px;
  color: var(--VeryDarkMagenta);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.rated:nth-child(2) {
  margin-left: 60px;
}
.rated:nth-child(3) {
  margin-left: 100px;
}
.review_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.review {
  background: var(--VeryDarkMagenta);
  width: 100%;
  min-height: 240px;
  padding: 2rem;
  line-height: 1.5;
  color: var(--White);
  border-radius: 10px;
}
.review img {
  width: 40px;
  border-radius: 100%;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.3rem;
  margin-bottom: 2rem;
}

.profile span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.profile span small {
  color: var(--SoftPink);
  font-size: 12px;
}
.review p {
  font-size: 16px;
}
.review:nth-child(2) {
  margin-top: 2rem;
}
.review:nth-child(3) {
  margin-top: 4rem;
}

@media (width < 940px) {
  main {
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
  }

  .left_section .heading {
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    font-size: 2.2rem;
  }
  .left_section .desc {
    max-width: 300px;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    margin-top: 1.4rem;
  }
  .top_container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0;
  }
  .review_container {
    flex-direction: column;
  }
  .review {
    width: 90%;
    max-width: 370px;
    text-align: left;
    margin-bottom: 18px;
  }
  .review:nth-child(2) {
    margin-top: 0;
  }
  .review:nth-child(3) {
    margin-top: 0;
  }
  .right_section {
    width: 100%;
  }
  .rated {
    flex-direction: column;
    gap: 8px;
    width: 90%;
    max-width: 400px;
    padding: 12px;
    margin: 14px auto;
    font-size: 12px;
  }
  .rated:nth-child(2) {
    margin: 14px auto;
  }
  .rated:nth-child(3) {
    margin: 14px auto;
  }
}

@media (width < 1440px) {
  main {
    width: 90%;
    padding: 4rem 0;
  }
  .left_section .heading {
    font-size: 2.8rem;
  }
  .left_section .desc {
    font-size: 1rem;
  }
}
